.blog {
    margin-top: 6.4rem;
    padding: 0 3.2rem;
}

.blog-title {
    font-size: 4.4rem;
    line-height: 54px;
    color: #21243D;
}

.blog-container {
    margin: 3.2rem 0;
}

.blog-item {
    padding-bottom: 3.2rem;
    border-bottom: 1px solid #E0E0E0;
    color: #21243D;
}

.blog-item + .blog-item {
    margin-top: 3.2rem;
}

.blog-item-title {
    font-size: 3rem;
    line-height: 40px;
    font-weight: 500;
}

.blog-item-subtitle {
    margin-top: 0.8rem;

    display: flex;
    align-items: center;

    font-size: 2rem;
    line-height: 30px;
}

.blog-item-subtitle span::after {
    content: '';
    margin: 0 2rem;
    height: 20px;
    border-left: 1px solid #E0E0E0;
}

.blog-item-subtitle p {
    color: #8695A4;
}

.blog-item-description {
    margin: 1.6rem 0;

    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 400;
}

/* Responsive */

@media(max-width: 820px) {
    .blog-title {
        font-size: 3rem;
    }

    .blog-item-title {
        font-size: 2.5rem;
        line-height: 35px;
    }

    .blog-item-subtitle {
        font-size: 1.4rem;
    }
}