.footer {
    margin: 6.4rem 3.2rem;
    color: #21243D;
}

.footer p {
    margin-top: 3.2rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 24px;
}

.footer-content-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-content-social-media-item a {
    padding: 1rem;
    color: #21243D;
}

