.header {
    padding: 3.2rem;
    display: flex;
    justify-content: flex-end ;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation li > a {
    padding: 0.8rem 1.6rem;

    font-size: 2rem;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
}