* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 114rem;

    margin: 0 auto;
    font-size: 62.10%;
    font-family: 'Heebo', sans-serif;

    transition: all 300ms ease-in-out;
}

body {
    position: relative;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
